html, body {
    width: 100%;
    background-color: #fff;
}

h3 {
    margin: 20px 0;
}

.container {
    padding: 0 40px;
}

.fa {
    font-size: 20px;
}

.white-text {
    color: #fff;
}

.black-text {
    color: #0a0a0a
}

