<form class="row">
    <div class="form-group">
        <div class="input-group">
            <input type="text" ng-model="$ctrl.searchText" class="form-control" id="search" placeholder="Search">
            <div class="input-group-addon" ng-click="$ctrl.search()"><i class="fa fa-search" aria-hidden="true"></i></div>
        </div>
    </div>
</form>