header-layout section:first-child {
    background-color: #FAF5C8;
    height: 250px;
}

header-layout section:first-child div.container ul {
    display: flex;
    align-items: baseline;
    background-color: #0f0f0f;
    color: #FE8F57;
}

header-layout section:first-child div.container ul a:hover{
    color: #fff;
    font-weight: bold;
}

header-layout section:nth-child(2) {
    height: 50px;
    background-color: #FE8F57;
}

header-layout section:nth-child(2) nav {
    height: inherit;
}

header-layout section:nth-child(2) nav ul{
    height: inherit;
    display: flex;
    align-items: center;
}