<section>
    <div class="container">
        <nav>
            <ul class="row">
                <li class="col-xxs-3 col-xs-3">
                    <h3><a ui-sref="home">Movie Theater</a></h3>
                </li>
                <!--fixme show below if user not logged in-->
                <li class="col-xxs-8 col-xs-8">
                    <a class="white-text">Log in</a> or <a class="white-text">Create new account</a> to have a full experience
                </li>
                <!--fixme show below if user is logged in-->
                <!--<li class="col-xxs-2 col-xs-2">-->
                    <!--<a>Profile</a>-->
                <!--</li>-->
                <!--<li class="col-xxs-2 col-xs-2">-->
                    <!--<a>Seen</a>-->
                <!--</li>-->
                <!--<li class="col-xxs-2 col-xs-2">-->
                    <!--<a>Suggestions</a>-->
                <!--</li>-->
            </ul>
        </nav>
        <div class="container">
            <search-bar></search-bar>
        </div>
    </div>
</section>
<section>
    <nav class="container">
        <ul class="row">
            <li class="col-xxs-2 col-xs-2">
                <b><a ui-sref="home" class="black-text">Home</a></b>
            </li>
            <li class="col-xxs-2 col-xs-2">
                <b><a ui-sref="cooming-soon" class="black-text">Cooming soon</a></b>
            </li>
            <li class="col-xxs-2 col-xs-2">
                <b><a class="black-text">Header 3</a></b>
            </li>
            <li class="col-xxs-2 col-xs-2">
                <b><a class="black-text">Header 4</a></b>
            </li>
            <li class="col-xxs-2 col-xs-2">
                <b><a class="black-text">Header 5</a></b>
            </li>
            <li class="col-xxs-2 col-xs-2">
                <b><a ui-sref="contact" class="black-text">Contact</a></b>
            </li>
        </ul>
    </nav>

</section>