<section class="container">
    <article class="row">
        <div class="owl-carousel owl-theme">
            <div ng-repeat="movie in $ctrl.movies" repeat-done="$ctrl.startCarousel()">
                <figure>
                    <img ng-src="resources/img/{{movie.posterId}}.jpg" alt="Poster image" />
                    <figcaption>{{movie.title}}</figcaption>
                </figure>
            </div>
        </div>
    </article>
</section>