screening-today .owl-carousel.owl-theme figure {
    background-color: rgba(49,49,49,0.08);
    margin-right: 10px;
}

screening-today .owl-carousel.owl-theme figure img {
    height: 300px;
    width: 200px;
}

screening-today .owl-carousel.owl-theme .owl-item {
    width: 210px !important;
    margin-top: 10px;
}