<!DOCTYPE html>
<html ng-app="theater" lang="en">
<head>
    <meta charset="UTF-8">
    <!-- inject:css -->
    <link rel="stylesheet" href="resources/vendor/css/lib.min.css">
    <link rel="stylesheet" href="resources/js/screening-today/screening-today.css">
    <link rel="stylesheet" href="resources/js/common/header-layout/header-layout.css">
    <link rel="stylesheet" href="resources/js/common/login/login.css">
    <link rel="stylesheet" href="resources/js/common/menu/menu.css">
    <link rel="stylesheet" href="resources/js/common/search-bar/search-bar.css">
    <link rel="stylesheet" href="resources/js/common/user-menu/user-menu.css">
    <link rel="stylesheet" href="resources/js/contact/contact-layout/contact-layout.css">
    <link rel="stylesheet" href="resources/js/cooming-soon/cooming-soon-layout/cooming-soon-layout.css">
    <link rel="stylesheet" href="resources/js/home/home-layout/home-layout.css">
    <link rel="stylesheet" href="resources/css/buttons.css">
    <link rel="stylesheet" href="resources/css/links.css">
    <link rel="stylesheet" href="resources/css/lists.css">
    <link rel="stylesheet" href="resources/css/main.css">
    <!-- endinject -->
    <title></title>
</head>
<body>
<!--<div ng-if="authenticated" ng-include="'partials/navbar.html'"></div>-->

<!--<div class="container">-->
    <!--<div style="position: relative">-->
        <!--<div ng-view="" class="fade"></div>-->
    <!--</div>-->
<!--</div>-->
<header-layout></header-layout>
<div ui-view></div>

<!-- inject:js -->


<script src="resources/vendor/js/lib.min.js"></script>


<script src="resources/js/app.js"></script>


<script src="resources/js/common/header-layout/header-layout.js"></script>


<script src="resources/js/common/login/login.js"></script>


<script src="resources/js/common/menu/menu.js"></script>


<script src="resources/js/common/search-bar/search-bar.js"></script>


<script src="resources/js/common/user-menu/user-menu.js"></script>


<script src="resources/js/constants.js"></script>


<script src="resources/js/contact/contact-layout/contact-layout.js"></script>


<script src="resources/js/contact/contact.js"></script>


<script src="resources/js/cooming-soon/cooming-soon-layout/cooming-soon-layout.js"></script>


<script src="resources/js/cooming-soon/cooming-soon.js"></script>


<script src="resources/js/custom-directives/access.js"></script>


<script src="resources/js/custom-directives/repeat-done.js"></script>


<script src="resources/js/home/home-layout/home-layout.js"></script>


<script src="resources/js/home/home.js"></script>


<script src="resources/js/restangular.js"></script>


<script src="resources/js/screening-today/screening-today.js"></script>


<script src="resources/js/security_configs.js"></script>


<script src="resources/js/services/AuthSharedSrv.js"></script>


<script src="resources/js/services/HomeSrv.js"></script>


<script src="resources/js/services/MovieSrv.js"></script>


<script src="resources/js/services/Session.js"></script>


<script src="resources/js/services/TokenSrv.js"></script>


<script src="resources/js/services/UserSrv.js"></script>


<!-- endinject -->
</body>
</html>